<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Reporte de Paradero</title>
</head>
<body>
    <h1>Detalles del Reporte de Paradero</h1>

    <h2>Información del Reporte</h2>
    <p><strong>Ubicación:</strong> {{reporte.location}}</p>
    <p><strong>Comentario:</strong> {{reporte.comment}}</p>
    <p><strong>Fecha de Creación:</strong> {{reporte.created_at}}</p>

    <h3>Estatus del Reporte</h3>
    <p><strong>Estatus:</strong> {{reporte.estatus}}</p> 

    <br>
    <a href="/misReportes"><button>Volver a mis reportes</button></a>
</body>
</html>



<!--Desarrollado por isaac -->