<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
</head>
<body>
    <h1>Reportes de Paradas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ubicación</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {{#each reports}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.location}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <a href="/dashboard">Volver al Inicio</a>
</body>
</html>
